* {
  margin: 0;
  padding: 0;
}
:root {
  /* colors */
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);

  --very-dark-voilet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* fonts */
  --body-font-size: 1rem;
  --headings-font-family: "DM Serif Display", serif;
  --headings-font-weight: 400;

  --body-font-family: "Karla", sans-serif;
  --body-font-weight700: 700;
}
body{
  overflow-x: hidden;
}
h1 {
  padding: 0;
  margin: 0;
}

.container {
  padding: 5%;
}

.header {
  padding: 5%;
}

.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.logo {
  font-family: var(--headings-font-family);
  font-weight: var(--body-font-weight700);
  color: var(--primary-dark-violet);
  font-size: 2.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#toggle-menu-icon {
  cursor: pointer;
}

.nav {
  height: 100vh;
  background: var(--very-dark-voilet);
  position: absolute;
  top: 5.125rem;
  left: 0;
  width: 100%;
  z-index: 22;
  display: none;
}

.nav-list {
  list-style: none;
  padding: 1.5em 0;
  text-align: center;
}

.list-item {
  padding: 1.2em 0;
  margin: 0 1.125em;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight700);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  padding: 0.75em 0;
  border: 2px solid white;
  width: 100%;
}

.nav-btn:hover,
.nav-btn:active {
  background: white;
  color: var(--very-dark-voilet);
}

.hero-image {
  display: block;
  width: 100%;
  position: relative;
  z-index: 5;
}

.hero-description {
  font-size: 1rem;
  padding: 6em 1.125em;
  text-align: center;
  background: var(--primary-dark-violet);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  color: white;
  z-index: 2;
}

.bg-pattern-intro-right{
  position: absolute;
  top: 190%;
  right:-200px;
  height:90%;
  z-index: 3;
}
.bg-pattern-intro-left{
  position: absolute;
  top:100%;
  left:-50px;
  z-index: 2;
}

.hero-heading {
  font-size: 2.75rem;
  font-family: var(--headings-font-family);
  line-height: 1em;
}

.hero-description p {
  font-size: var(--body-font-size);
  padding: 2em 0.5em;
  font-family: var(--body-font-family);
  line-height: 1.5em;
}

.cta-btn {
  width: unset;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight700);
}

.cta-btn:hover {
  background: white;
  color: var(--very-dark-voilet);
}

.info-section {
  text-align: center;
  margin-top:5em;
}

.info-section .line {
  width: 120px;
  height: 1px;
  background: var(--dark-grayish-violet);
}

.info-section h1 {
  font-family: var(--headings-font-family);
  font-weight: var(--body-font-weight);
  padding: 1.125em 0;
  font-size: 2.3rem;
  color: var(--primary-dark-violet);
}

.info-card {
  padding: 2em 0;
}
.info-card h4 {
  font-family: var(--headers-font-family);
  font-size: 1.4rem;
  padding-top: 1.5em;
  color: var(--primary-dark-violet);
}
.info-card p {
  padding-top: 1em;
  line-height: 1.5em;
  font-family: var(--body-font-family);
  font-weight: 400;
  color: var(--dark-grayish-violet);
}

.find-more {
  background: var(--primary-dark-violet);
  background-image: url("images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 100px;
  color: white;
  padding: 4.5em 1.5em;
  text-align: center;
}

.find-more h1 {
  font-family: var(--headings-font-family);
  font-weight: var(--body-font-weight700);
  font-size: 2.5rem;
  line-height: 1em;
  padding-bottom: 1em;
}

.footer {
  margin-top: 5%;
  text-align: center;
  background: var(--very-light-gray);
  background-image: url("images/bg-pattern-footer-mobile.svg");
  background-repeat:no-repeat;
}
.social-section {
  padding: 1em 0;
  border-bottom: 1px solid hsla(276, 4%, 51%, 0.44);
}
.social-section h1 {
  font-family: var(--headings-font-family);
  font-size: 2.125rem;
  text-transform: uppercase;
  padding: 0.75em 0;
}
.social-icons img {
  padding: 0 0.5em;
}

.other-links {
  padding: 1em 0;
}

.other-list {
  list-style: none;
}
.other-list-item {
  font-family: var(--body-font-family);
  font-size: 1rem;
  padding: 0.85em 0;
}

.item-header {
  padding: 2em 0;
  text-transform: uppercase;
  color: var(--dark-grayish-violet);
  font-weight: 900;
}

.other-list-item-link {
  text-decoration: none;
  color: var(--primary-dark-violet);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 829px) {
  .footer {
    text-align: unset;
    background-image: url("images/bg-pattern-footer-desktop.svg");
  }
  .social-section {
    display: flex;
    justify-content: space-between;
  }
  .social-section h1 {
    padding: 0;
  }
  .other-links {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
  }
  .find-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: unset;
    padding: 4.5em 4em;
    background-position-y:top;
    background-position-x: right;
    background-size: contain;
  }
  .find-more h1 {
    width: 50%;
    padding: 0;
    font-size: 3.125rem;
  }
  .info-card-container {
    display: flex;
    justify-content: flex-start;
  }
  .info-card + .info-card {
    margin-left: 2em;
  }
  .info-section {
    text-align: unset;
    margin-top:10em;
  }
  .info-section h1 {
    font-size: 3.5rem;
    padding-top: 0.75em;
  }
  .hero-section {
    background: var(--primary-dark-violet);
    padding: 1em 5%;
  }
  .hero-description {
    text-align: unset;
    background: unset;
    width: 50%;
  }
  .hero-description h1 {
    font-size: 4.5rem;
    line-height: 1.2em;
  }
  .hero-description p {
    padding-top: 0;
    padding-left: 0;
  }
  .hero-image {
    position: absolute;
    top: 30%;
    right: 5%;
    width: initial;
    z-index: 1;
  }
  .line-light {
    width: 120px;
    height: 1px;
    margin: 2em 0;
    background: var(--very-light-gray);
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav {
    height: unset;
    background: unset;
    position: unset;
    width: unset;
    display: block;
  }
  .logo-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
  .list-item {
    margin: 0 1.125em;
  }
  .nav-link {
    color: var(--very-dark-voilet);
  }
  .close {
    display: none;
  }
  .nav-btn {
    border: 2px solid var(--primary-dark-violet);
    padding: 0.5em;
  }
  .nav-btn:hover,
  .nav-btn:active {
    background: var(--primary-dark-violet);
    color: white;
  }

  .bg-pattern-intro-right{
    top:85px;
    right:-150px;
  }
  .bg-pattern-intro-left{
    bottom: -310px;
    left:-50px;
    top:unset
  }
}
